---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 1
---

{% set postslist = collections.posts | head(-1) %}
<article>
<h1>{{ postslist[0].data.title  }}</h1>  
<p class="subtitle">{{ postslist[0].data.description  }}</h1>
<p class="dateline">Posted by <a target="_blank" href="{{ metadata.author.twitter }}">{{ metadata.author.name }}</a> on {{ page.date | readableDate }}</p>

{{ postslist[0].templateContent | safe }}

</article>


 