

{% set postsCount = collections.posts | length %}
{% set numberOfLatestPostsToShow = 5 %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}


<h1>Latest </h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}

{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol reversed class="postlist">
{% for post in postslist | reverse %}
	<li class="postlist-item">
		<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
	    <span class="post-tags">
            {% if post.data.tags %}
                {% for tag in post.data.tags %}
                    <a href="/tags/{{ tag }}/" class="post-tag">{{ tag }}</a>
                {% endfor %}
            {% endif %}
        </span>
	</li>
{% endfor %}
</ol>



