<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		{#-<style>{% getBundle "css" %}</style>#}
		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
	</head>
	<body>

		<header>
        <div class="wrapper">
			<h1 class="nav-title"><a href="/">{{ metadata.title }}</a></h1>
			<ul class="nav">
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
			{#-	<li class="nav-item desktop-only"><a href="mailto:{{ metadata.author.email }}">Contact</a></li>
        <li class="nav-item desktop-only"><a href="{{ metadata.author.twitter }}">Mastodon</a></li>#}
        <li class="nav-item highlight"><a href="https://log.rosecurify.com/?ref=blog.rosecurify.com">Seclog</a></li>
				</ul>

			</nav>
		</header>
<div class="wrapper">
          <main class="tmpl-post">

<div class="grid">
  <div class="grid-main">


			{{ content | safe }}

			 </article>
  </div>
  <aside class="grid-sidebar">




{% include "postslist.njk" %}




  </aside>
</div>

		</main>
		</div>
		<footer>
        <div class="wrapper">
          <p>Subscribe to the newsletter for more like this:</p>
          <form class="inline-form" action="https://log.rosecurify.com/api/graphql" method="post">
  <input type="email" placeholder="Your e-mail address..." id="email" name="email">
  <button class="subscribe-button">Subscribe</button>
</form>


          </div>
      </footer>
    </div>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
