---
layout: layouts/base.njk
---

{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1>{{ title }}</h1>

<p class="subtitle">{{ description }}
        </p>
				<p class="dateline">Posted by <a target="_blank" href="{{ metadata.author.twitter }}">{{ metadata.author.name }}</a> on {{ page.date | readableDate }}</p>



{{ content | safe }}



{%- if collections.posts %}
<section class="header-line">
      <h3>Keep Reading</h3>
    </section>
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
    </section>

{%- endif %}

